*{
  box-sizing: border-box;
}
.main-div-signup{
  margin: 11% 36% ;
  border-radius: 20px;
}

.navbar {
  top: 0;
  /* background: rgb(183, 85, 183); */
  background: rgb(168, 224, 211);
  height: 10vh;
  align-items: center;
  margin-left: -20px;
}

.ul {
  display: flex;
}

li {
  list-style: none;
  padding: 30px;
  font-size: 20px;
  cursor: pointer;
}

.navlinks {
  text-decoration: none;
  color: black;
}
.active{
  color: blue;
}
td{
  text-align: center;
  align-items: center;
}
.exam{
  background-color: rgb(227, 246, 234);;
  width: 50%;
  padding: 20px;
  margin: 4% 0% 0% 25%;
}
.exam-input{
  width: 100%;
  border: none;
  background-color:rgb(227, 246, 234);
  border-bottom: 1px solid black;
  outline: none;
  padding: 10px;
}
.exam-input-option{
    width: 40%;
    border: none;
    background-color:rgb(227, 246, 234);
    border-bottom: 1px solid black;
    outline: none;
    padding: 5px;
    margin: 10px 0px;
}
.selectSubject{
  margin: 3% 48%;
}
.comp{
  background: rgb(245, 255, 253);
  height: 90vh;
}
.studdata{
  overflow: scroll;
  height: 88vh;
}